## Archive Exploration

In your notebook: use a markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This data consist of snowshoe hares density and their declining population from 1999-2002. Capture and recapture studies have been conducted in 5 locales in the Tanana valley, from Tok in the east to Clear in the west. 


Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2023-10-19).



https://portal.edirepository.org/nis/metadataviewer?packageid=knb-lter-bnz.55.22

## Adding an image

![image description](https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Snowshoe_Hare_%286990917710%29.jpg/856px-Snowshoe_Hare_%286990917710%29.jpg?20131114045343)

This image, originally posted to Flickr, was reviewed on 14 November 2013 by the administrator or reviewer File Upload Bot (Magnus Manske), who confirmed that it was available on Flickr under the stated license on that date.

## Data Loading

In [4]:
import pandas as pd 

hares = pd.read_csv("https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701")

In [6]:
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

## Metadata Exploration

Go to the “Detailed Metadata” section and click on “Data Entities”. Take a minute to look at the descriptions for the dataset’s columns.

## Detecting messy values

In [11]:
# number of teams each unique non-NA value in the sex column appears
hares.sex.value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

In [16]:
#What is the purpose of the dropna=False parameter?
#Do step 2 again, this time adding the dropna=False parameter to value_counts().

hares.sex.value_counts(dropna = False)

#dropna= False keeps the NA, and value counts gives us total NA

#should give us the same numbers

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

In [19]:
hares.sex.unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

The cols not allowed are 'm', 'f', or 'm?'

## Clean values